@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff");
  font-weight: 700;
}
