$tablet-min: 768px;
$desktop-min: 1280px;

$primary-text-dark: #323232;
$secondary-text-color: #afafaf;
$primary-text-light: #ffffff;
$hover-state-color: #000000;
$secondary-color: #e1e1e1;
$secondary-background-color: #fafafa;
