$tablet-min: 768px;
$desktop-min: 1280px;

$primary-text-dark: #323232;
$secondary-text-color:#AFAFAF;
$primary-text-light: #FFFFFF;
$hover-state-color: #000000;
$secondary-color: #E1E1E1;
$secondary-background-color:#FAFAFA;