@use "./partials/typography" as *;
@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.header__title{
    position: absolute;
    bottom: 40%; 
    left: 5%;
    color: $White; 
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    z-index: 2;

    @include tablet{
        font-size: 4rem;
    }
    @include desktop{
        left: 10%;
        bottom: 45%;
    }   
}



.main {

    &__title{
        padding: 2.6875rem 0 1.3438rem 1.3438rem;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
        color: $BandSite-Black;

        @include tablet {
            font-size: 3rem;
            padding-top: 3.75rem;
            padding-left: 3.75rem;
            padding-bottom: 2.5rem;
        }
        @include desktop{
            padding-left: 9rem;
            padding-bottom: 3.75rem;            
        }
    }
    
    &__image--container {
        padding-left: 1.3438rem;
        padding-right: 1.3438rem;

        @include tablet{
            padding: 0 7.5547rem;
        }

        @include desktop{
            padding:0 15.75rem;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__quote {
        font-size:1.5625rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: $BandSite-Black; 
        @include tablet{
            padding-top: 2.3919rem;
        }
        @include desktop{
            font-size:1.25rem;
            line-height: 1.875rem;
            width: 80%;
        }
    }
    &__quote--name{
        padding-top: .725rem;
        font-size:1.5625rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: $BandSite-Black;
        @include tablet{
            font-size:1.25rem; 
        } 
        @include desktop{
            font-size:1.125rem;
            font-weight: 600;
        }
    }
    &__content{
        flex-direction: column; 
        gap: 1.25rem;
        padding: 1.3438rem;
        font-size: 1.25rem;

        @include tablet{
            gap: 3.125rem;
            padding: 0 7.5547rem;
            display: flex;
            flex-direction: row; 
        }
        @include desktop{
            padding: 0 15.75rem;
        }
    }
    &__content--title{
        padding-top: 2.6875rem;
        padding-left: 1.3438rem;
        font-size: 1.5625rem;
        font-weight: 200;
        line-height: 1.875rem;
        color: $BandSite-DarkBlack;

        @include tablet{
            padding-left: 7.5547rem;
            padding-bottom: 2rem;
        }
        @include desktop{
            padding-left: 15.75rem;
            padding-top: 4.375rem;
        }
    }
    &__content--para1 , &__content--para2{
        font-size: 1.5625rem;
        line-height: 2.1875rem;
        font-weight: 500;
        color: $BandSite-Black;
        padding-bottom: 3.125rem;

        @include tablet{
            font-size: .9375rem;
            line-height: 1.5625rem;
            font-weight: 100;
            padding-bottom: 3.125rem;
        }
    }
}

.gallery{

    &__image--container {
        padding: 0 1.3438rem;
        @include flex(column,center,center);
        gap: 1.875rem; 
        
        @include tablet{
            padding: 3.1478rem;
            @include flex(row,space-between,flex-start);
            flex-wrap: wrap;
        }
        @include desktop{
            padding: 2.625rem 8.75rem 2rem 8.75rem;
        }
    }
    &__title {
        padding-left: 1.3438rem; 
        padding-bottom: .806rem;
        font-size: 2.5rem; 
        color: $BandSite-Black;

        @include tablet{
            padding-left: 3.1478rem;
            padding-bottom: 0;
            font-size: 2.25rem;
            line-height: 2rem;
            font-weight: 700;
        }
        @include desktop{
            padding-left: 8.75rem;
            padding-bottom: 1.25rem;
        }

    }
    &__image{
        width: 100%; 
        height: auto; 
        filter: grayscale(100%);
        
        &:hover {
            filter: grayscale(0); 
        }

        @include tablet{
            width: calc(33.33% - 1.25rem);
        }
    }
}
