@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans";
  width: 100%;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 10rem;
  }
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    width: 30%;
  }
}
.nav__list--item {
  flex: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__list--item {
    flex: 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list--item {
    text-align: left;
  }
}
.nav__logo--link {
  height: 1.25rem;
  width: 7.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav__logo--link {
    margin: 0;
  }
}
.nav__link {
  color: #E1E1E1;
  font-size: 1.2rem;
  font-weight: 100;
  text-decoration: none;
  display: block;
  padding: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav__link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link {
    padding-right: 0;
    padding-left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  height: 0.25rem;
  width: 100%;
  background-color: #FFFFFF;
  transform: scaleX(0);
}
@media screen and (min-width: 768px) {
  .nav__link::after {
    bottom: -1.5rem;
  }
}
.nav__link:hover {
  color: #FFFFFF;
}
.nav__link:hover::after {
  transform: scaleX(1);
}
.nav__link--active {
  font-weight: bold;
  color: #FFFFFF;
}
.nav__link--active::after {
  transform: scaleX(1);
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.header__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header__image--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header__image {
  width: 100%;
  height: 100%;
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}

.footer {
  background-color: #323232;
  color: #E1E1E1;
  padding: 1.3438rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.3438rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3.1478rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 4.375rem 8.75rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.footer__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 1.3438rem;
}
.footer__item {
  padding-bottom: 1.3438rem;
}
.footer__item a {
  text-decoration: none;
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .footer__item--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__item--container {
    gap: 3rem;
    width: 120%;
  }
}
.footer__copyright {
  font-size: 0.9375rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-top: auto;
    text-align: left;
    padding-top: 1.875rem;
  }
}
.footer__title--subheading {
  padding-bottom: 1.3438rem;
}
@media screen and (min-width: 768px) {
  .footer__title--subheading {
    padding-bottom: 1.2591rem;
    font-size: 0.875rem;
  }
}
.footer__content {
  padding-bottom: 1.3438rem;
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__content {
    padding-bottom: 1.2591rem;
  }
}
.footer__icon--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3.125rem;
  padding-bottom: 1.3438rem;
}
@media screen and (min-width: 768px) {
  .footer__icon--container {
    padding-left: 4.6185rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon--container {
    padding-left: 7.0976rem;
  }
}
.footer__icon {
  height: 2rem;
  width: auto;
}
.footer__logo {
  padding-top: 2.416rem;
  padding-bottom: 1.3438rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 14%;
    right: 5%;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    right: 0%;
    padding-right: 8.75rem;
  }
}
.footer__logo--link {
  width: 7.5rem;
  height: 1.25rem;
}

.header__title {
  position: absolute;
  bottom: 8rem;
  left: 5%;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  width: 70%;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .header__title {
    bottom: 20rem;
    width: 60%;
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    bottom: 24rem;
    left: 10%;
    width: 40%;
    line-height: 5rem;
  }
}

.header__album--title {
  position: absolute;
  bottom: 13rem;
  left: 5%;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 400;
  width: 70%;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .header__album--title {
    bottom: 30rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__album--title {
    left: 10%;
    bottom: 36rem;
  }
}

.header__content {
  height: 120%;
}

.header__image--container {
  height: 120%;
  overflow: hidden;
}

.soundcloud {
  position: absolute;
  top: 60%;
  left: 4%;
  z-index: 2;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .soundcloud {
    top: 65%;
    width: 45%;
    bottom: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .soundcloud {
    width: 35%;
    top: 43%;
    left: 57%;
  }
}
.soundcloud__player {
  width: 100%;
  height: 100px;
  border: none;
  padding: 5px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .soundcloud__player {
    height: 166px;
  }
}/*# sourceMappingURL=shows.css.map */