@use "./partials/typography" as *;
@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;


.header__container--content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;

    @include tablet{
        padding: 12rem 3rem;
    }

}

.header__title{
    color: $White; 
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    width: 80%;
    z-index: 2;

    @include tablet{
        font-size: 4rem;
        line-height: 4.5rem;
        width: 70%;
    }
    @include desktop{
        width: 44%;
        line-height: 5rem;
    }   
}

.header__album--title{
    color: $White; 
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: 400;
    z-index: 2;

    @include tablet{
        font-size: 2rem;
    }
    @include desktop{
        bottom: 36rem; 
    }
}

.header__content{
    height: 120%;
}
.header__image--container {
    height: 120%;
    overflow: hidden;
}


.soundcloud {
    z-index: 2;
    width:100%;

    @include tablet {
        width: 45%;
    }

    @include desktop {
        width: 35%;
    }

    &__player {
        width: 100%;
        height: 100px;
        border: none;
        margin-top: 1rem;
        border-radius: 2px;

        @include tablet{
            height: 166px;
            margin-top: 2rem;
            width: 110%;
        }
    }
}

