@use "./partials/typography" as *;
@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.header__title{
    position: absolute;
    bottom: 8rem; 
    left: 5%;
    color: $White; 
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    width: 70%;
    z-index: 2;

    @include tablet{
        bottom: 20rem;
        width: 60%;
        font-size: 4rem;
        line-height: 4.5rem;
    }
    @include desktop{
        bottom: 24rem;
        left: 10%;
        width: 40%;
        line-height: 5rem;
    }   
}

.header__album--title{
    position: absolute;
    bottom: 13rem; 
    left: 5%;
    color: $White; 
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: 400;
    width: 70%;
    z-index: 2;

    @include tablet{
        bottom:30rem;
        font-size: 2rem;
    }
    @include desktop{
        left: 10%;
        bottom: 36rem; 
    }
}

.header__content{
    height: 120%;
}
.header__image--container {
    height: 120%;
    overflow: hidden;
}


.soundcloud {
    position: absolute;
    top: 60%;
    left: 4%;
    z-index: 2;
    width:90%;

    @include tablet {
        top: 65%;
        width: 45%;
        bottom: 20%;
    }

    @include desktop {
        width: 35%;
        top: 43%;
        left: 57%;
    }

    &__player {
        width: 100%;
        height: 100px;
        border: none;
        padding: 5px;
        border-radius: 8px;

        @include tablet{
            height: 166px;
        }
    }
}

